<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="controls-container">
        <div class="input-control-container">
            <input
                id="pickupCity"
                class="form-control"
                type="text"
                placeholder="Leaving from"
                formControlName="pickupCity"/>
        </div>
        <div class="input-control-container">
            <input
                id="dropOffCity"
                class="form-control"
                type="text"
                placeholder="Going to"
                formControlName="dropOffCity"/>
        </div>
        <div  class="input-control-container">
			<div class="input-group">
			<input
                id="rideDate"
				class="form-control"
				[minDate] = "currentDateStruct"
                [startDate] = "currentDateStruct"
                formControlName="rideDate"
				ngbDatepicker
				#d="ngbDatepicker"
			/>
			<button id="calendarBtn" class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i-bs name="calendar3"></i-bs></button>
		</div>
		</div>
        <div  class="button-control-container mb-3">
            <button
                class="btn app-btn-primary"
                type="submit">
                Search
            </button>
        </div>
    </div>
    @if (pickupCityIsInvalid) {
        <div class="alert alert-danger mb-2" role="alert">Pickup city is required.</div>
      }

      @if (dropOffCityIsInvalid) {
        <div class="alert alert-danger mb-2" role="alert">Drop off city is required.</div>
      }
</form>

